/* http://j4n.co/blog/Creating-your-own-css-grid-system */

.grid-container {
  width : 960px;
  border: 1px orange dashed;
}
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
  position: relative;
}
[class*='col-'] {
  float: left;
}
.col-1 {
  height: 100px;
  width: 350px;
}
header .logo {
  float: left;
  margin-top: 25px;
}
.col-1-text {
  float: left;
  margin-top: 25px;
}
header li {
  float: right;
  display: inline;
  padding-top: 30px;
  margin-left: 2px;
}
header li:nth-child(2) {
  margin-left: 9px;
}
.col-pg-break {
  padding-top: 2px;
  height: 8px;
  border: 0px;
  width: 700px;
  background: url("lab-assets/hr-11.png");
  /* using asset from https://codepen.io/ibrahimjabbari/pen/ozinB?editors=1100 */
}
.col-2 {
  height: 50px;
  width: 350px;
  background-color: #cbcbcb;
}
.col-3 {
  width: 700px;
  background-image: url('lab-assets/choco-pizza.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 470px;
}
.col-4 {
  margin-top: 25px;
  width: 700px;
}
.col-4 p {
  text-indent: 20px;
  margin-bottom: 25px;
  font-family: Garamond;
  color: rgb(107, 107, 107)
}
.col-4 p:last-child {
  margin-bottom: 0px;
}
.col-5 {
  width: 700px;
  background-image: url('lab-assets/list-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 130px;
  margin-bottom: 25px;
}
.inner-col-5-1 {
  float: left;
  height: 225px;
  width: 348px;
}
.inner-col-5-2 {
  float: right;
  height: 225px;
  width: 348px;
}
fieldset {
  display: block;
}
.col-6 {
  height: 90px;
  width: 700px;
}
.col-6-image {
  margin-top: 10px;
  width: 70px;
}
.col-6-text {
  margin-top: 10px;
  border: 1px orange dashed;
  width: 485px;
}
.col-6-share {
  margin-top: 10px;
  width: 140px;
}
button {
  width: 140px;
  height: 40px;
  border: none;
  background-color: #b06c38;
  color: #FFF;
}
.col-7 {
  height: 150px;
  width: 700px;
  background-color: #888;
}
.col-8 {
  width: 325px;
  height: 150px;
}
.col-8-top-box {
  height: 75px;
  width: 323px;
  margin-top: 15px;
  border-top: 1px solid rgb(196, 196, 196);
}
.img {
  width: 50px;
  margin: 0 auto;
  align-content: center;
}
footer img {
  padding: 0px 10px 0px 10px;
}
.col-9 {
  width: 700px;
  margin: 0 auto;
}
.footer-text {
  margin: 0 auto;
}
.margin {
  width: 130px;
  background-color: #FFF;
  background-image: none;
}
